.logo_header {
    margin-left: 1em;
    width: 50%;
    font-size: 1.25em;
    align-self: flex-start;
}

.header {
    display: flex;
    justify-content: space-around;
    line-height: 2em;
    padding-top: .2em;
    padding-bottom:.2em;
    font-size: 1.25em;
    background-color: #44475a;
    width: 100%;
    color: #f8f8f2;
}

.header > span {
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.menuItemLinks {
    color:white;
    text-decoration: none;
}